<h1> Welcome {{username}} in the home page!</h1>


<!-- Modal -->

<button type="button" class="btn btn-primary"  (click)="showModal()">Show Modal</button>

<app-modal #aleTiOdio [title]="'hello'">Ciao<div>Mondo</div></app-modal>

<!-- Card -->
<app-cards [title]='username' >
    <hr>
     <div class="row">

      <div class="col-4">   
    
         <img src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png">
      </div>
          <div class="col-4">
            <p style="text-align: center;">Super Hero</p>
            <p style="text-align: center;">{{ username }}</p>
            
          </div>
    
         
 
         
        </div>
</app-cards>
