<h1 class="mt-3">Welcome  to your home page  {{username}} !</h1>
<!-- Card -->
<app-cards [title]='username' >    <hr>
     <div class="row">
      <div class="col-4">   
        <img *ngIf="user[0]?.gender === 'M'" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png">
        <img *ngIf="user[0]?.gender === 'F'" src="https://www.clipartmax.com/png/full/290-2906168_wonder-woman-chibi-download-wonder-woman-icon-png.png">
        <img *ngIf="user[0]?.gender === 'OTHERS'" src="https://icons.veryicon.com/png/o/avatar/superhero-marvel/loki.png">
      </div>
          <div class="col-7">
            <p style="text-align: left;">{{ user[0]?.name }} {{ user[0]?.surname }}</p>
            <p style="text-align: left;">{{ user[0]?.codFiscale }}</p>
            <p style="text-align: left;">{{ user[0]?.phoneNumber }}</p>
            <p style="text-align: left;">{{ user[0]?.email }}</p>
            
          </div>
        </div>
</app-cards>