<!-- <label>Pathparameter {{ pathParameter }}</label>
<br>
<label>Queryparameter {{ queryParameter | json }}</label> -->
<br>
<h3>Person details</h3>
<div class="row" *ngIf="person">
    <div class="col-6">
      <ul class="list-group">
      <li class="list-group-item">First name: {{person.name}}</li>
      <li class="list-group-item">Last name: {{person.surname}}</li>
      <li class="list-group-item">FiscalCode: {{person.codFiscale}}</li>
      <li class="list-group-item">Birthday: {{person.birthdate  | date }}</li>
      <li class="list-group-item">Age: {{person.age}}</li>
      <li class="list-group-item">Phone number: {{person.phoneNumber}}</li>
      <li class="list-group-item">Email: {{person.email}}</li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group ">
      <li class="list-group-item">Street: {{person.street}}</li>
      <li class="list-group-item">City: {{person.city}}</li>
      <li class="list-group-item">State: {{person.state}}</li>
      <li class="list-group-item">Zip code: {{person.zip}}</li>
    </ul>
  </div>
      
    
  
</div>
 
<br>

  <button class="btn btn-primary" style="margin-right: 15px;"(click)="gotoSearch()">Search Page</button>
  <button class="btn btn-danger"  (click)="delete()">Delete person</button>

  <br><br>
  <hr>
<h2>Cars</h2>
  <app-details-cars  [cars]="cars" (modCar)="modifyCarInDetail($event)" (deleteCar)="deleteCarInDetail($event)"></app-details-cars>

  <button class="btn btn-success"  (click)="addCar()">Add a new car</button>
  <br><br>
  <hr>


