<!-- <label>Pathparameter {{ pathParameter }}</label>
<br>
<label>Queryparameter {{ queryParameter | json }}</label> -->
<br>
<h3>Person details</h3>
<div class="row" *ngIf="person">
    <div class="col-6">
      <ul class="list-group">
      <li class="list-group-item"><span class="data-bold">Name</span>: {{person.name}}</li>
      <li class="list-group-item"><span class="data-bold">Last name</span>: {{person.surname}}</li>
      <li class="list-group-item"><span class="data-bold">FiscalCode</span>: {{person.codFiscale}}</li>
      <li class="list-group-item"><span class="data-bold">Birthday</span>: {{person.birthdate  | date }} | <span class="data-bold">Age</span>: {{person.age}}</li>
      <li class="list-group-item"><span class="data-bold">Phone number</span>: {{person.phoneNumber}}</li>
      <li class="list-group-item"><span class="data-bold">Email</span>: {{person.email}}</li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group ">
      <li class="list-group-item"><span class="data-bold">Street</span>: {{person.street}}</li>
      <li class="list-group-item"><span class="data-bold">City</span>: {{person.city}}</li>
      <li class="list-group-item"><span class="data-bold">State</span>: {{person.state}}</li>
      <li class="list-group-item"><span class="data-bold">Zip code</span>: {{person.zip}}</li>
    </ul>
  </div>
      
    
  
</div>
 
<br>
  <button class="btn btn-success" [routerLink]="['/person', person?.id, 'edit']" >Edit person</button>
  <button class="btn btn-danger"  (click)="delete()">Delete person</button>

  <br><br>
  <hr>
<h2>Cars</h2>
  <app-details-cars  
      [cars]="cars"
      (modifyCar)="modifyCarInDetail($event)"
      (deleteCar)="deleteCarInDetail($event)"
  >
  </app-details-cars>

  <button class="btn btn-success"  (click)="addCar()">Add a new car</button>
  <br><br>
  <hr>

  <button class="btn btn-primary" style="margin-right: 15px;"(click)="gotoSearch()">Indietro</button>

