<h1 style="width:100%; padding:20px; background-color: dodgerblue; ">
  <a style="color: white; text-decoration: none;" [routerLink]="loggedIn() ? '/home' : null">Giorgia phonebook app</a>
  <button type="button" class="btn btn-primary float-right" (click)="logOut()" routerLinkActive="active" *ngIf="loggedIn()">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"></path>
    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"></path>
    </svg>
  </button>
</h1>
<div class="container"> 
<div class="row">
  <div class="col-12  col-offset-1">    
      <br><br>
      <ul class="nav nav-tabs" *ngIf="loggedIn()">        
        <li class="nav-item">
          <a class="nav-link  active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="'/home'" >Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" [routerLink]="'/person/search'" >Search person</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="'/person/add'" >Add person</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-12">
      <div *ngIf="!loggedIn()" class="mx-auto mb-3" style="width: fit-content; padding:15px">  
        <h4 style="text-align: center;">Hi! Insert login data</h4>
        <p class="mr-3" style="display: block; float:left"><span style="color: rgb(1, 98, 131);"><b>Name</b></span> Giorgia/Mario/Elio</p>
        <p style="display: block; float:left"><span style="color: rgb(1, 98, 131);"><b>Psw</b></span>12345</p>
      </div>
      <router-outlet></router-outlet>
  </div>
  </div>
</div>
