<h1>Phone book</h1>
<form [formGroup]="searchForm" >
  <div class="form-group">
  <input 
    type="text"
    class="form-control"
    placeholder="type name.."
    style="width: 300px;"
    [formControl]="this.searchForm.get('surnameCriteria')"
  >
  </div>
  <button class="btn" (click)="search()">Filter</button>
  
  <table class="table">
    <thead>
      <tr>
        
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of searchResult">
        
        <td>{{person.name}}</td>
        <td>{{person.surname}}</td>
        <td>{{person.phoneNumber}}</td>
      </tr>
      <tr>
    </tbody>
  </table>



  
</form>